In [1]:
import sys
sys.path.append('..')

from DatabaseUtils import DatabaseUtils

In [2]:
databaseUtils = DatabaseUtils()

In [3]:
print(databaseUtils.get_schema_names())
databaseUtils.create_schema('test-GCP')
print(databaseUtils.get_schema_names())
databaseUtils.drop_schema('test-GCP')
print(databaseUtils.get_schema_names())

['academic', 'information_schema', 'mysql', 'performance_schema', 'sys', 'test_GCP']
['academic', 'information_schema', 'mysql', 'performance_schema', 'sys', 'test-GCP', 'test_GCP']
['academic', 'information_schema', 'mysql', 'performance_schema', 'sys', 'test_GCP']

In [4]:
databaseUtils.drop_schema('test_GCP')
print(databaseUtils.get_schema_names())

databaseUtils.create_schema('test_GCP')
print(databaseUtils.get_schema_names())

['academic', 'information_schema', 'mysql', 'performance_schema', 'sys']
['academic', 'information_schema', 'mysql', 'performance_schema', 'sys', 'test_GCP']

In [5]:
databaseUtils.execute_query("create table if not exists test_GCP.naman(id int);")
databaseUtils.execute_query("insert into test_GCP.naman(id) values (1), (2), (4);")
databaseUtils.execute_query("insert into test_GCP.naman(id) values (1), (2), (4);")
databaseUtils.execute_query("insert into test_GCP.naman(id) values (10), (20), (40);")
res = databaseUtils.execute_query("select * from test_GCP.naman;")
res.rowcount

9

In [6]:
res = databaseUtils.execute_query("select * from test_GCP.naman order by id;")
print(res.fetchall())

res = databaseUtils.execute_query("select * from test_GCP.naman order by id desc;")
print(res.fetchall())

res = databaseUtils.execute_query("select * from test_GCP.naman;")
print(res.fetchall())

[(1,), (1,), (2,), (2,), (4,), (4,), (10,), (20,), (40,)]
[(40,), (20,), (10,), (4,), (4,), (2,), (2,), (1,), (1,)]
[(1,), (2,), (4,), (1,), (2,), (4,), (10,), (20,), (40,)]

In [7]:
databaseUtils.execute_query("UPDATE test_GCP.naman SET id = 69 WHERE id = 1;")

In [8]:
res = databaseUtils.execute_query("select * from test_GCP.naman order by id;")
print(res.fetchall())

res = databaseUtils.execute_query("select * from test_GCP.naman order by id desc;")
print(res.fetchall())

res = databaseUtils.execute_query("select * from test_GCP.naman;")
print(res.fetchall())

[(2,), (2,), (4,), (4,), (10,), (20,), (40,), (69,), (69,)]
[(69,), (69,), (40,), (20,), (10,), (4,), (4,), (2,), (2,)]
[(69,), (2,), (4,), (69,), (2,), (4,), (10,), (20,), (40,)]