In [1]:
from TQLRunnerSQLCoder import TQLRunner

[2023-11-13 05:48:54,144] [INFO] [real_accelerator.py:158:get_accelerator] Setting ds_accelerator to cuda (auto detect)

In [2]:
tqlRunner = TQLRunner()

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

LLM Model initialized

In [3]:
tqlRunner.set_schema('college_2')

All libraries loaded

In [4]:
tqlRunner.get_SQL_query('What are the room numbers and corresponding buildings for classrooms which can seat between 50 to 100 students?')

'SELECT classroom.building, classroom.room_number FROM classroom WHERE classroom.capacity BETWEEN 50 AND 100 ORDER BY classroom.building NULLS LAST, classroom.room_number NULLS LAST'

In [5]:
tqlRunner.set_schema('yelp')

All libraries loaded

In [6]:
input_text = 'How many reviews are there in the database'
tqlRunner.get_SQL_query(input_text)

'SELECT COUNT(rid) AS number_of_reviews FROM review'

In [7]:
input_text = 'How many businesses are there in "Vegas"'
tqlRunner.get_SQL_query(input_text)

"SELECT COUNT(business_id) AS number_of_businesses FROM business WHERE name ilike '%Vegas%'"

In [8]:
tqlRunner.get_SQL_query('How many professors are there in chem department')

Exception: No tables found, please repharse the query and try again

In [10]:
tqlRunner.set_schema('college_2')

All libraries loaded

In [12]:
tqlRunner.get_SQL_query('How many professors are there in chem department')

"SELECT CAST(COUNT(professor.id) AS FLOAT) / NULLIF(COUNT(department.id), 0) AS professor_to_department_ratio FROM professor JOIN department ON professor.dept_id = department.id WHERE department.dept_name ilike '%chem%'"

In [13]:
tqlRunner.get_SQL_query('students name beginning with "Nam"')

"SELECT student.id, student.name FROM student WHERE student.name ilike 'Nam%'"

In [14]:
tqlRunner.get_SQL_query('What is the name and building of the departments whose budget is more than the average budget?')

'SELECT department.dept_name, department.building FROM department WHERE department.budget > (SELECT AVG(department.budget) FROM department) ORDER BY department.budget DESC NULLS LAST'

In [15]:
tqlRunner.set_schema('student_assessment')

All libraries loaded

In [16]:
tqlRunner.get_SQL_query('What are the id of students who registered courses or attended courses?')

'SELECT student_course_registrations.student_id, student_course_attendance.student_id FROM student_course_registrations LEFT JOIN student_course_attendance ON student_course_registrations.student_id = student_course_attendance.student_id WHERE student_course_registrations.student_id IS NOT NULL OR student_course_attendance.student_id IS NOT NULL'