In [1]:
from TQLRunner import TQLRunner

----------

In [2]:
tqlRunner = TQLRunner('yelp')

All libraries loaded
LLM Model initialized

In [3]:
input_text = 'How many reviews are there in the database'
tqlRunner.get_SQL_query(input_text)

'SELECT count(*) FROM review'

In [4]:
input_text = 'How many businesses are there in "Vegas"'
tqlRunner.get_SQL_query(input_text)

'SELECT COUNT ( DISTINCT name ) FROM business WHERE name = "Vegas";'

--------

In [5]:
tqlRunner = TQLRunner('college_2')

All libraries loaded
LLM Model initialized

In [6]:
input_text = 'What is the name and building of the departments whose budget is more than the average budget?'
tqlRunner.get_SQL_query(input_text)

'SELECT dept_name, building FROM department WHERE budget > (SELECT avg(budget) FROM department)'

In [7]:
input_text = 'What are the names of students who have taken the prerequisite for the course "International Finance"?'
tqlRunner.get_SQL_query(input_text)

'SELECT T1.name FROM takes AS T1 JOIN Students AS T2 ON T1.student_id = T2.id WHERE T2.course_id IN (SELECT T1.course_id FROM prereq AS T1 JOIN takes AS T2 ON T1.course_id = T2.course_id WHERE T2.course_id = "International Finance")'