In [1]:
from TQLRunnerSQLCoder import TQLRunner

[2023-11-17 00:32:13,140] [INFO] [real_accelerator.py:158:get_accelerator] Setting ds_accelerator to cuda (auto detect)

In [2]:
tqlRunner = TQLRunner()

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

LLM Model initialized

In [3]:
tqlRunner.set_schema('college_2')

All libraries loaded

In [4]:
%%time
tqlRunner.get_SQL_query('What are the room numbers and corresponding buildings for classrooms which can seat between 50 to 100 students?')

CPU times: user 5.33 s, sys: 186 ms, total: 5.51 s
Wall time: 5.57 s

'SELECT classroom.building, classroom.room_number FROM classroom WHERE classroom.capacity BETWEEN 50 AND 100'

In [5]:
tqlRunner.set_schema('yelp')

All libraries loaded

In [6]:
%%time
input_text = 'How many reviews are there in the database'
tqlRunner.get_SQL_query(input_text)

CPU times: user 3.3 s, sys: 3.53 ms, total: 3.31 s
Wall time: 3.3 s

'SELECT COUNT(rid) AS number_of_reviews FROM review'

In [7]:
%%time
input_text = 'How many businesses are there exactly called "Vegas"'
tqlRunner.get_SQL_query(input_text)

CPU times: user 3.27 s, sys: 3.55 ms, total: 3.28 s
Wall time: 3.28 s

"SELECT COUNT(*) FROM business WHERE name ilike '%Vegas%'"

In [8]:
# tqlRunner.get_SQL_query('How many professors are there in chem department')

In [9]:
tqlRunner.set_schema('college_2')

All libraries loaded

In [10]:
%%time
tqlRunner.get_SQL_query('How many professors are there in chem department')

CPU times: user 3.2 s, sys: 5.5 ms, total: 3.2 s
Wall time: 3.2 s

'SELECT COUNT(*) AS num_professors FROM professor p JOIN office_location ol ON p.office_location_code = ol.office_location_code JOIN department d ON ol.department_code = d.dept_name WHERE d'

In [11]:
%%time
tqlRunner.get_SQL_query('students name beginning with "Nam"')

CPU times: user 3.27 s, sys: 18.9 ms, total: 3.28 s
Wall time: 3.28 s

"SELECT student.name FROM student WHERE student.name ilike 'Nam%'"

In [12]:
%%time
tqlRunner.get_SQL_query('What is the name and building of the departments whose budget is more than the average budget?')

CPU times: user 3.24 s, sys: 7.86 ms, total: 3.25 s
Wall time: 3.25 s

'SELECT department.dept_name, department.building FROM department WHERE department.budget > (SELECT AVG(department.budget) FROM department)'

In [13]:
tqlRunner.set_schema('student_assessment')

All libraries loaded

In [14]:
%%time
tqlRunner.get_SQL_query('What are the id of students who registered courses or attended courses?')

CPU times: user 3.29 s, sys: 15.4 ms, total: 3.3 s
Wall time: 3.3 s

'SELECT DISTINCT student_id FROM student_course_attendance UNION SELECT DISTINCT student_id FROM student_course_registrations'

In [15]:
import pandas as pd

In [16]:
pd.DataFrame.from_dict(eval('{"schema_id":{"0":"user_input","1":"user_input"},"table_name":{"0":"perpetrator","1":"people"},"table_name_original":{"0":"perpetrator","1":"people"},"primary_key":{"0":"Perpetrator_ID","1":"People_ID"},"column_list":{"0":["Perpetrator_ID","People_ID","Date","Year","Location","Country","Killed","Injured"],"1":["People_ID","Name","Height","Weight","Home_Town"]},"column_list_original":{"0":["Perpetrator_ID","People_ID","Date","Year","Location","Country","Killed","Injured"],"1":["People_ID","Name","Height","Weight","Home_Town"]},"column_datatypes":{"0":["number","number","text","number","text","text","number","number"],"1":["number","text","number","number","number"]},"foreign_keys":{"0":[],"1":[]}}'))

,schema_id,table_name,table_name_original,primary_key,column_list,column_list_original,column_datatypes,foreign_keys
0,user_input,perpetrator,perpetrator,Perpetrator_ID,"[Perpetrator_ID, People_ID, Date, Year, Locati...","[Perpetrator_ID, People_ID, Date, Year, Locati...","[number, number, text, number, text, text, num...",[]
1,user_input,people,people,People_ID,"[People_ID, Name, Height, Weight, Home_Town]","[People_ID, Name, Height, Weight, Home_Town]","[number, text, number, number, number]",[]