In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('sample_csv.xlsx')
df

,schema_id,table_name,table_name_original,primary_key,column_list,column_list_original,column_datatypes,foreign_keys
0,perpetrator,perpetrator,perpetrator,Perpetrator_ID,"['perpetrator id', 'people id', 'date', 'year'...","['Perpetrator_ID', 'People_ID', 'Date', 'Year'...","['number', 'number', 'text', 'number', 'text',...",[]
1,perpetrator,people,people,People_ID,"['people id', 'name', 'height', 'weight', 'hom...","['People_ID', 'Name', 'Height', 'Weight', 'Hom...","['number', 'text', 'number', 'number', 'text']","[['perpetrator', 'People_ID', 'people', 'Peopl..."

In [30]:
df['foreign_keys'].iloc[1]

"[['perpetrator', 'People_ID', 'people', 'People_ID']]"

In [28]:
for i in range(len(df)):
    
    cols = []
    for j in df.iloc[i]['column_list_original'][2:-2].split("', '"):
        cols.append(j.replace(' ', '_'))

    data_types = []
    for j in df.iloc[i]['column_datatypes'][2:-2].split("', '"):
        if(j == 'text'):
            j = 'VARCHAR'
        elif(j == 'number'):
            j = 'INT'
        elif(j == 'bool'):
            j = 'BOOL'
        else:
            j = j.upper()
        data_types.append(j)
    co = []
    for col, data in zip(cols, data_types):
        co.append((col + ' ' + data + ','))
    print(f'CREATE TABLE {df.iloc[i].table_name} (' + ' '.join(co)[:-1] + ')' )

CREATE TABLE perpetrator (Perpetrator_ID INT, People_ID INT, Date VARCHAR, Year INT, Location VARCHAR, Country VARCHAR, Killed INT, Injured INT)
CREATE TABLE people (People_ID INT, Name VARCHAR, Height INT, Weight INT, Home_Town VARCHAR)

In [47]:
df_table = pd.read_excel('sample_excel_upload.xlsx', sheet_name = 'Tables')
df_fks = pd.read_excel('sample_excel_upload.xlsx', sheet_name = 'ForeignKeys')

In [69]:
df_list = []
for i in range(len(df_table)):
    temp = []
    rows = df_table.iloc[i]['DDL'].replace('CREATE TABLE', '').replace('(', '+').replace(')', '').split('+')
    table_name = rows[0].strip()
    temp.append('user_input')
    temp.append(table_name)
    temp.append(table_name)
    if('PRIMARY KEY' in rows[1]):
        temp.append(rows[-1])
        rows[1] = rows[1].replace('PRIMARY KEY', '')
    else:
        temp.append('NO PRIMARY KEY')
    columns = []
    data_types = []
    for j in rows[1].strip().split(', '):
        columns.append(j.split()[0])
        
        if(j.split()[1] == 'VARCHAR'):
            data_types.append('text')
        else:
            data_types.append('number')
    temp.append(columns)
    temp.append(columns)
    temp.append(data_types)
    temp.append(data_types)
    temp.append([])
        
    df_list.append(temp)

In [74]:
pd.DataFrame(df_list).rename(columns = {
    0: 'schema_id',
    1: 'table_name',
    2: 'table_name_original',
    3: 'primary_key',
    4: 'column_list',
    5: 'column_list_original',
    6: 'column_datatypes', 
    7: 'foreign_keys'
})

,schema_id,table_name,table_name_original,primary_key,column_list,column_list_original,column_datatypes,foreign_keys,8
0,user_input,perpetrator,perpetrator,Perpetrator_ID,"[Perpetrator_ID, People_ID, Date, Year, Locati...","[Perpetrator_ID, People_ID, Date, Year, Locati...","[number, number, text, number, text, text, num...","[number, number, text, number, text, text, num...",[]
1,user_input,people,people,People_ID,"[People_ID, Name, Height, Weight, Home_Town]","[People_ID, Name, Height, Weight, Home_Town]","[number, text, number, number, number]","[number, text, number, number, number]",[]

In [46]:
df_list = []
for i in range(len(df_table)):
    temp = []
    rows = df_table.iloc[i]['DDL'].replace('CREATE TABLE', '').replace('(', '+').replace(')', '').split('+')
    table_name = rows[0].strip()
    temp.append('user_input')
    temp.append('table_name')
    temp.append('table_name')
    for j in rows[1].strip().split(', '):
        print(j.split())

['Perpetrator_ID', 'INT']
['People_ID', 'INT']
['Date', 'VARCHAR']
['Year', 'INT']
['Location', 'VARCHAR']
['Country', 'VARCHAR']
['Killed', 'INT']
['Injured', 'INT']
['People_ID', 'INT']
['Name', 'VARCHAR']
['Height', 'INT']
['Weight', 'INT']
['Home_Town', 'VARCHAR']